{% macro block(b) %}
{%- if b.layout == "one" -%}
<div class="content-block-container container content-block-container-one">{{ b.html | injectContactForm | safe }}</div>
{%- elif b.layout == "two" -%}
<div class="content-block-container container content-block-container-two">{{ b.html | injectContactForm | safe }}</div>
{%- elif b.layout == "three" -%}
<div class="content-block-container container content-block-container-three">{{ b.html | injectContactForm | safe }}</div>
{%- elif b.layout == "four" -%}
<div class="content-block-container container content-block-container-four">{{ b.html | injectContactForm | safe }}</div>
{%- elif b.layout == "five" -%}
<div class="content-block-container container content-block-container-five">{{ b.html | injectContactForm | safe }}</div>
{%- elif b.layout == "sidebar" -%}
<div class="content-block-container container content-block-container-sidebar">{{ b.html | injectContactForm | safe }}</div>
{%- elif b.layout == "tiles" -%}
<div class="content-block-container container content-block-container-tiles">{{ b.html | injectContactForm | safe }}</div>
{%- elif b.layout == "carousel" -%}
<div class="content-block-container container content-block-container-carousel">{{ b.html | injectContactForm | safe }}</div>
{%- elif b.layout == "twoimage-20" -%}
<div class="content-block-container-twoimage-top content-block-container-twoimage-20"><div class="content-block-container container content-block-container-twoimage content-block-container-with-image-left">{{ b.html | injectContactForm | safe }}</div></div>
{%- elif b.layout.startsWith("raw:") -%}
{{ b.html | injectContactForm | safe }}
{%- else -%}
<div class="content-block-container container content-block-container-{{ b.layout }}">{{ b.html | injectContactForm | safe }}</div>
{%- endif -%}
{% endmacro %}

{% for b in blocks %}
{%- if b.layout == "raw:cta" -%}
{% include "cta.njk" %}
{%- elif b.layout.startsWith("raw:") -%}
{{ block(b) }}
{%- else -%}
<section class="content-block">{{ block(b) }}</section>
{%- endif -%}
{% endfor %}
