<section class="cta" aria-labelledby="cta-title">
	<div class="container cta__grid">
		<div class="cta__text">
			<h2 id="cta-title">Together, let's chase new horizons, create fresh opportunities, and shape a future where prosperity knows no bounds.</h2>
		</div>
		{% include "contact-form.njk" %}
	</div>
</section>
