---
pagination:
  data: collections.whatsNewPosts
  size: 9
  alias: pagePosts
archiveSlug: "whats-new"
archiveTitle: "What's New"
archiveImage: "/assets/img/pages/whats-new.jpg"
# See culture.njk for what each of these two descriptions is for.
archiveDescription: "Check out the latest news at Prosperity! The articles on these pages show our accomplishments, our contributions to the community, and our celebrations as a team."
archiveSummary: "Firm news from Prosperity Partners — acquisitions, partnerships, rankings and recognition."
---
{% include "post-archive.njk" %}
