---
pagination:
  data: collections.culturePosts
  size: 9
  alias: pagePosts
permalink: "{{ '/culture/' if pagination.pageNumber == 0 else '/culture/page/' + (pagination.pageNumber + 1) + '/' }}"
title: "Culture - Prosperity Partners"
archiveTitle: "Culture"
archiveImage: "/assets/img/uploads/pages/culture.jpg"
noIndex: true
layout: base.njk
---
{% include "post-archive.njk" %}
