---
pagination:
  data: collections.genericPages
  size: 1
  alias: pageItem
permalink: "{{ pageItem.data.path }}"
eleventyComputed:
  title: "{{ pageItem.data.title }}"
  description: "{{ pageItem.data.meta_description }}"
  canonicalUrl: "https://www.prosperityllc.com{{ pageItem.data.path }}"
layout: base.njk
---
<section class="page-banner">
	<div class="page-banner-content">
		<div class="page-banner-content-container container">
			{% if pageItem.data.banner_title %}<h1 class="page-banner-title">{{ pageItem.data.banner_title | safe }}</h1>{% endif %}
			{% if pageItem.data.banner_description_html %}<div class="content">{{ pageItem.data.banner_description_html | safe }}</div>{% endif %}
		</div>
	</div>
	{% if pageItem.data.banner_image %}<figure class="page-banner-figure"><img src="{{ pageItem.data.banner_image }}" alt="" class="page-banner-image" data-pagefind-meta="image[src]"></figure>{% endif %}
</section>

{% set blocks = pageItem.data.blocks %}
{% include "content-blocks.njk" %}
