---
pagination:
  data: collections.posts
  size: 1
  alias: post
permalink: "{{ post.data.category_url }}{{ post.data.slug }}/"
eleventyComputed:
  title: "{{ post.data.title }} - Prosperity Partners"
searchType: post
layout: base.njk
---
<section class="page-banner" data-pagefind-ignore>
	<div class="page-banner-content">
		<div class="page-banner-container container">
			<h2 class="page-banner-title"><a class="page-banner-title-link" href="{{ post.data.category_url }}">{{ post.data.category_name }}</a></h2>
		</div>
	</div>
</section>
<section class="single-post-container">
	<div class="single-post-content-container container">
		{% if post.data.images.length %}<figure class="single-post-figure"><img src="{{ post.data.images[0] }}" alt="" class="single-post-image" data-pagefind-meta="image[src]"></figure>{% endif %}
		<div class="single-post-content">
			{#- The date precedes the title visually, but as a heading it made every
			    post page open at h5 and then jump up to h1. It is a <time>. -#}
			{% if post.data.published %}<p class="single-post-meta"><time datetime="{{ post.data.published | isoDate }}">{{ post.data.published | longDate }}</time></p>{% endif %}
			<h1 class="single-post-title">{{ post.data.title }}</h1>
			<div class="content">
				{{ post.content | safe }}
			</div>
		</div>
	</div>
</section>
