---
pagination:
  data: collections.whatsNewPosts
  size: 9
  alias: pagePosts
permalink: "{{ '/whats-new/' if pagination.pageNumber == 0 else '/whats-new/page/' + (pagination.pageNumber + 1) + '/' }}"
title: "What's New - Prosperity Partners"
archiveTitle: "What's New"
archiveImage: "/assets/img/uploads/pages/whats-new.jpg"
noIndex: true
layout: base.njk
---
{% include "post-archive.njk" %}
